<h1> Edit <%= @comment.title %> </h1>

<%= form_for @comment do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.label :content %>
<%= f.text_field :content %>

<%= f.submit "Update Info" %>

<% end %>

<%= form_for @comment, method: :delete do |f| %>
    <%= f.submit "Delete!", class: "delete" %>
<% end %>
