<h2>Posts by Tag: <%= @category.name %></h2>

<% @posts.each do |post| %>
  <article>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <time>Updated <%= post.updated_at %></time>
    <p><%= post.body %></p>
    <% if post.tags.length > 0 %>
      <h3>Tags</h3>
      <% post.tags.each do |tag| %>
        <%= link_to tag.category.name, category_path(tag.category) %>
      <% end %>
    <% end %>
  </article>
<% end %>
